.background--color{
    background-color:#fafafa;
}

.insta__main__sec{
    margin: 0 450px;
    width: 500px;
}

.sec1-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    
}

.sec-div1-main{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 130px;
    width: 100%;
    
}

.div1-profile{
    display: flex;
    flex-direction: column;  
    
}

.profile-img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#f6b73c, #f724e5);
    
    width: 60px;
    height: 60px;
    border-radius: 50%;

    
    
}

.profile-img{
    border: 2px solid white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;

}

.profile-name{
text-align: center;
font-size: 9px;
margin-top: 3px;
}

 /* 두번째 프로필 */
.sec2-div{
    display: flex;
    
    flex-direction: column;
    width: 100%;
    
    border: 1px solid rgb(219, 219, 219);
    
    background-color: white;
}

.div-user__id{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    

}

.user__img__id{
    display: flex;
    justify-content: flex-start;
}

.user__img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.user__id--position{
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 20px;
}

.user__id{
    font-size: 10px;
    font-weight: 900;
    
}

.user__position{
    font-size: 10px;
    
}

.user__point{
    font-size: 20px;
    font-weight: 900;
    margin-right: 20px;
}

.user__poto{
    
    width: 100%;
    height: 500px;
}

.user__footer{
    background-color: white;
width: 100%;
height: 150px;
padding: 10px 20px;
}

.user__state{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    align-items: center;
    background-color: white;
}

.state__slide{
    font-size: 1px;
    color: gray;
}

.state__slide span{
    color: royalblue;

}

.user__good{
    
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.user__good img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    
    margin-right: 7px;
}


.mt3{
    margin-top: 3px;
}

.user__span1{
    font-size: 9px;
    font-weight: 500;
}

.user__span2{
    font-weight: 700;
}

.user__span3{
    color: gray;   
}

.user__flex{
    display: flex;
    height: 13px;
}

.user__input{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
}

.user__input input{
    width: 90%;
    height: 100%;
    border: none;
    margin-left: 20px;
    font-size: 13px;
}

.user__input div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 10px;
    font-weight: 700;
    color: rgb(129, 129, 250);
    opacity: 0.7;
}