

.sec1--main__box{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    background-color: white;
    margin: 30px auto;
    width: 800px;
    height: 680px;

}

.edit__list{
    width: 30%;
}

.edit__iist__info{
    display: flex;
    justify-content: flex-start;
    /* border-left: 2px solid black; */
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
}

.edit__iist__info:hover{
    border-left: 2px solid gray;
    background-color: rgb(250, 250, 250);
    font-size: 15px;
    font-weight: 900;
    
}


.edit__main__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border-left: 1px solid rgb(219, 219, 219);
    width: 80%;
    
    
}

.main__info{
    
    width: 500px;
    height: 50px;
    display: flex;
    
    
    
}

.main__info--fir{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    height: 50px;
    
}

.main__info--fir img{
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    
}

.main__info--sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 400px;
    height: 50px;
    padding-left: 20px;
    
}

.e__title{
    font-size: 16px;
    font-weight: 900;
}

.main__info--input{
    width: 100%;
    height: 35px;
    
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding-left: 10px;
}

.g__title{
    font-size: 12px;
    font-weight: 500;
    color: gray;
}

textarea{
width: 100%;
height: 60px;
}

input[type=checkbox] {
    zoom: 0.4;
    }

    .btn__report{
        border-radius: 5px;
        border: none;
        background-color: rgb(0, 149, 246);
        width: 50px;
        height: 30px;
        color:white
    }

    .mt20{
        margin-top: 20px;
    }