

.container-head{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding-left: 190px;
    padding-right: 190px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
}

.header__size{ 
    width: 100%;
    height: 75px;
    background-color: black;


}

.btb{
    border: 1px solid black;
}


.btr{
    border: 1px solid red;
}

.header1{

height: 60%;
width: 10%;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40%;
    height: 60%;
}
.header3{
    display: flex;
    justify-content: flex-end;
    
    width: 200px;
    
    height: 60%;
}
.nav__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 25px;
}

.header1-input{
    width: 250px;
    height: 80%;
    background-color: #fafafa;
    color: rgb(142, 142, 170);
    width: 700;
    
    border-radius: 5px;
    padding-left: 20px;
}

.nav-heart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
width: 20%;

}
.nav_heart:focus{
    outline-offset: 0px;
}

.nav-heart__box{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    top: 60px;
    right: -40px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;

    width: 400px;
    height: 300px;
    }
    
    .heart-box__list{
        padding: 10px;
        display: flex;
        justify-content: space-around;   
        align-items: center;
        height: 65px;
        width: 100%;
        
    }
    
    .heart-box__img{
        display: flex;
        
        border-radius: 50%;
        overflow: hidden;
        width: 50px;
        height: 50px;
    
    }
    
    .heart-box__text{
        display: flex;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(219, 219, 219);
        height: 65px;
        width: 350px;
        
    }

    .text__list{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        
    }

    .text__id{
        font-weight: 900;
        
    }

    .text__info{
        font-weight: 300;
    }

    .text__follow{
        

        width: 65px;
        height: 30px;
        font-size: 15px;
    }

    .btn_follow{
        border-radius: 5px;
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
        width: 65px;
        height: 100%;
        font-weight: 800;
    }

    .nav__profile{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    width: 20%;
    }

    .nav--box__profile{
        position: absolute;
    display: flex;
    flex-direction: column;
    
    top: 60px;
    right: -40px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 200px;
    }

    .profile--list{
        display: flex;
        align-items: center;
        
        
        width: 100%;
        height: 40px;
        font-size: 13px;
        color: gray;
    }

    .profile--list:hover{
            background-color: rgb(237, 237, 237);
    }

    .profile--logout{
        border-top: 1px solid rgb(219, 219, 219);
        padding: 10px 20px;
        font-size: 15px;
    }
    .profile--logout:hover{
        background-color: rgb(237, 237, 237);
    }

