@import url("jkb__header.css");
@import url("jkb__insta__main.css");
@import url("jkb__profile__edit.css");
@import url("k_footer.css");
@import url("K_main.css");



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}